<div class="fotter-main">
  <img
     src="../../../assets/footerbanner.svg"
     style="
       position: absolute;
       width: 100%;
       object-fit: fill;
       z-index: 0;
     "
   />
   <div class="fotter-container">
     <div class="heading">
       <h5>
         Get Started Today!<br />
         Download the App Now.
       </h5>
     </div>
     <div class="content">
       <p>
         One app. Park, Rent anywhere. No transaction fees.<br />
         It's all sorted. Download the free GetSpot app. You're ready to<br />
         go within 5 minutes.
       </p>
     </div>
     <div class="images">
       <img src="../../../assets/playstore.svg" alt="playstore image" />
       <img src="../../../assets/appstore.svg" alt="appstore image" />
     </div>
   </div>
 </div>  