<div class="working-main">
  <div class="working-container">
    <div class="image-main">
    <div class="image-container">
      <img src="../../../assets/working.svg" alt="mobile image" />
    </div>
    </div>
    <div class="content-main">
      <div class="headings">
        <h5>How It Works</h5>
        <p>
          Just select your location to pre-book or rent and secure your parking
          space.
        </p>
      </div>
      <div class="card-main">
        <div class="card">
          <div class="image">
            <img src="../../../assets/parkingkey.svg" alt="logo" />
          </div>
          <div class="content">
            <p><strong>Search for available parking</strong></p>
            <p>
              Our AI-driven system lets you quickly search for available parking
              spots in real-time.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="../../../assets/rentimage.svg" alt="logo" />
          </div>
          <div class="content">
            <p>
              <strong>Choose your desired option (book, rent, or buy)</strong>
            </p>
            <p>
              Select from a variety of flexible options, GetSpot allows you to
              choose the option that best suits your needs.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="../../../assets/dollarimagekey.svg" alt="logo" />
          </div>
          <div class="content">
            <p><strong> Pay securely and park hassle-free</strong></p>
            <p>
              With our secure payment system, you can complete your transaction
              with ease.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
