<section class="hero">
  <div class="hero-main">
    <div class="hero-container">
      <div class="hero-content">
        <div class="lineimage">
        <img 
        src="../../../assets/keylines.svg" 
        alt="no image" 
        >
        </div>
        <h1>FIND, RENT, OR BUY THE PERFECT</h1>
        <p class="parking">
          PARKING SPACE IN SECONDS!
        </p>
        <p style="margin-bottom: 25px; color: #777777;">
          Explore real-time parking options, rent out your unused space, or buy
          and sell parking spots—all in <br> one app.
        </p>
      </div>
      <div class="cta-buttons">
        <div class="buttondownload">
          <button class="download">
            Download the App
            <img src="../../../assets/send-sqaure.svg" alt="buttonimage" />
          </button>
        </div>
        <div class="parkinglistlink">
          <a href="#" class="list-space">List Your Parking Space</a>
        </div>
      </div>
    </div>
    <div class="mockup-container">
      <div class="circle"></div>
      <img
        class="styleline"
        src="../../../assets/middleline.svg"
        alt="no image"
        width="50px"
        height="50px"
      />
      <img
        class="parkingImage1"
        src="../../../assets/parkingimage.svg"
        alt="no parking image"
        width="50px"
        height="50px"
      />
      <img
        src="../../../assets/heromobile.svg"
        alt="no image"
        width="72%"
        style="z-index: 1;"

      />
      <img
      class="newImage"
        src="../../../assets/newimage.svg"
        alt="new image"
        width="50px"
        height="50px"
      />
      <img
      class="dollarImage"
        src="../../../assets/dollarimage.svg"
        alt="dollarimage"
        width="50px"
        height="50px"
      />
    </div>
    <div class="sideline">
      <img
        src="../../../assets/Vector4.svg"
        alt="no image"
        width="35px"
        height="500px"
      />
    </div>
  </div>
</section>
<router-outlet></router-outlet>
