<div class="home-main">
  <div class="nav-hero">
   <div class="backgroundImage">
    <img src="../../../assets/Frame 1686558593.svg" alt="no image">
   </div>
  <app-navbar></app-navbar>
  <div class="hero-key">
    <div id="hero">
      <app-hero></app-hero>
    </div>
      <div class="curveimage">
        <img
          src="../../../assets/rightcurve.svg"
          alt="no image"
          width="175px"
          height="270px"
        />
      </div>
      <div class="styleline">
        <img
          src="../../../assets/leftlines.svg"
          alt="no image"
          width="40px"
          height="300px"
        />
      </div>
    </div>
    <div id="key-features">
      <app-key-features></app-key-features>
    </div>
  </div>
  
  <div id="working">
    <app-working></app-working>
  </div>
  
  <div id="benefits">
    <app-benefits></app-benefits>
  </div>
  
  <div id="questions">
    <app-questions></app-questions>
  </div>
  <div class="testimonialsFotter">
  <div id="Testimonials">
    <app-testimonials></app-testimonials>
  </div>
  
  <div class="fotter">
  <div id="fottersection">
    <app-fotterbanner></app-fotterbanner>
  </div>
  
  <div id="fotterlinkssection">
    <app-footerlinks></app-footerlinks>
  </div>
  </div>
  </div>
  </div>
  