<div class="key-features-main">
  <div class="key-features-container">
    <div class="content">
      <h3>The Key Features</h3>
      <p>
        Ready to simplify your parking experience? Whether you want to book,
        rent, or buy parking spaces, GetSpot has you covered.
      </p>
    </div>
    <div class="card-main">
      <div class="card">
        <div class="shadowOne">
        </div>
        <div class="image">
          <img src="../../../assets/parkingkey.svg" alt="noimage" />
        </div>
        <p>
          <strong>
            Real-Time<br />
            Booking
          </strong>
        </p>
        <p>
          Find parking when and where<br />
          you need it.
        </p>
      </div>
      <div class="card">
        <div class="shadowTwo">
        </div>
        <div class="image">
          <img src="../../../assets/rentimage.svg" alt="noimage" />
        </div>
        <p>
          <strong> Parking <br />Spaces </strong>
        </p>
        <p>List your unused spots or rent <br />them short/long term.</p>
      </div>
      <div class="card">
        <div class="shadowThree">
        </div>
        <div class="image">
          <img src="../../../assets/dollarimagekey.svg" alt="noimage" />
        </div>
        <p>
          <strong>
            Buy/Sell Parking<br />
            Spaces</strong
          >
        </p>
        <p>Convenient and secure <br />platform for transactions.</p>
      </div>
    </div>
  </div>
</div>
