<div class="key-features-main">
  <div class="key-features-container">
    <div class="content">
      <h3>Testimonials</h3>
      <p>What our customer are saying</p>
    </div>
    <div class="card-main">
      <div class="card">
        <div class="shadowOne">
        </div>
        <div class="image">
          <img src="../../../assets/profile.svg" alt="noimage" />
          <img src="../../../assets/“.svg" alt="no image" />
        </div>
        <div class="about">
          <p>
            "GetSpot is a lifesaver! I used to spend ages driving around looking
            for parking. Now, I just open the app, book a spot, and I’m good to
            go. It’s so convenient!"
          </p>
        </div>
        <div class="details-main">
          <div class="line"></div>
        <div class="details">
          <h5>James P. Reagan</h5>
          <p>Los Angeles</p>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="shadowTwo">
        </div>
        <div class="image">
          <img src="../../../assets/profile.svg" alt="noimage" />
          <img src="../../../assets/“.svg" alt="no image" />
        </div>
        <div class="about">
          <p>
            "Selling my parking space was a breeze with GetSpot. They handled all the verification and made the entire process smooth and stress-free."
          </p>
        </div>
        <div class="details-main">
          <div class="line1"></div>
        <div class="details">
          <h5>James P. Reagan</h5>
          <p>Los Angeles</p>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="shadowThree">
        </div>
        <div class="image">
          <img src="../../../assets/profile.svg" alt="noimage" />
          <img src="../../../assets/“.svg" alt="no image" />
        </div>
        <div class="about">
          <p>
            "I had an unused driveway, and thanks to GetSpot, it’s now earning me extra income every month. The setup process was easy, and I can manage everything from my phone."
          </p>
        </div>
        <div class="details-main">
          <div class="line2"></div>
        <div class="details">
          <h5>James P. Reagan</h5>
          <p>Los Angeles</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
